{% extends "base.html" %}

{% block title %}New Cleaner{% endblock %}

{% block h1 %}
    <h1>New Cleaner</h1>
{% endblock %}

{% block icon %}
    <link rel="icon" href="https://static.thenounproject.com/png/2389056-200.png" type="image/x-icon">
{% endblock %}

{% block content %}
    <form method="post" action="#" class="form-group">
        {% csrf_token %}
        <div class="mb-1 mt-2">
            <div class="mb-1 mt-2">
                {{form.as_p}} <!--  could be ".as_ul", ".as_table", ".as_p" -->
            </div>
        </div>
        <button type="submit" class="btn btn-success border-20 padding-5 margin-5 rounded-pill" name="save" value="save">Save</button>
        <button class="btn btn-success border-20 padding-5 margin-5 rounded-pill" type="submit" name="back" value="back">Cancel</button>
    </form>
{% endblock %}
