{% extends "base.html" %}

{% block title %}O Ses Türkiye {{yil}}{% endblock %}

{% block h1 %}
{% endblock %}

{% block icon %}
<link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxrgE_OFesO-TFuC0tG3wmykIxGl4RlHIoFA&s" type="image/x-icon">
{% endblock %}

{% block content %}
    <h1>{{yarismacilar}} Yarışmacıları</h1>

    <form method="post" action="#">
        {% csrf_token %}
        <ul>
            {% for yarismaci in yarismacilar.yarismaci_set.all %}
                <li>
                    <button class="btn btn-outline-secondary border-0 padding-0 margin-0" type="submit" name="yarismaci" value="{{yarismaci}}">{{yarismaci}}</button>
                </li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}

{% block footer %}
    <form method="post" action="#" class="form-group">
        {% csrf_token %}
        <button class="btn btn-success border-20 padding-5 margin-5 rounded-pill" type="submit" name="yarismaci_ekle" value="yarismaci_ekle">Yarışmacı Ekle</button>
        <button class="btn btn-success border-20 padding-5 margin-5 rounded-pill" type="submit" name="geri" value="geri">Jürilere Dön</button>
        
    </form>
{% endblock %}